*{
    padding:0;
    margin:0;
    scroll-behavior :smooth;
}
header{
    border: 2px solid wheat;
    height:100px;
    box-sizing: border-box;
    padding: 50px;
    background-color: rgba(94, 10, 55, 0.477);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header>a{
    color:bisque;
    text-decoration:none;
    margin-left: 20px;
    margin-right:20px;   
}

section{
    height:400px;
    width:1000px;
    margin:auto;
    background-image: linear-gradient(to bottom,rgb(36, 1, 18),rgb(95, 6, 61));
    text-align:center;
    padding:20px;
    box-sizing:border-box;
}
section >h1{
    font-size: 40px;
    border: 2px solid rgb(242, 5, 167) ;
}
section>img{
    width:586px;
}
footer{
    width:1000px;
    margin:auto;
    background-color:burlywood;
    text-align:center;
    padding:50px 0px;
}
footer > a {
    color:rgb(250, 13, 171);
    text-decoration: none;
}